.form-container {
    position: relative;
    color: white;
    padding: 2em;

    form {
        
        .back-step {margin-top: -3em;}
        
        .steps {
            position: absolute;
            top: 1rem;
            font-size: 1.5em;
            font-weight: 500;
        }

        .form-control {

            input {
                width: 80%;
                height: 45px;
                color: rgb(0, 7, 37);
                border-radius: 5px;
                padding-left: 10px;
            }

            input[type='checkbox'] {
                width: 15px;
                height: 15px;
            }
    
            button {
                margin-top: 1em;
                margin-left: 55%;
                background: #fa4d09;
                width: 25%;
                height: 1.7em;
                border-radius: 25px;
                font-weight: 300;
            }

            @media screen and (max-width: 768px) {
                input {
                    width: 100%;
                }
                
                button {
                    width: 45%;
                }
            }
        }
    }
}